<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Data</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>
    <script src="/static/script.js"></script>

    <link rel="stylesheet" href="/static/app.css"> 
</head>
<body>
    <div id="lottie-background"></div>

    <div class="header-left">
        <div class="header-text">CONCORDIA 2</div>
    </div>

    <div class="logo-container">
        <img src="/static/logo.png" alt="NUST Logo">
    </div>

    <div class="data-title">EDIT PRODUCT DATA</div>

    <div class="central-form-group">
        <form action="/admin/products/add" method="post" enctype="multipart/form-data">
            <div class="data-container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Cost</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" id="productName" name="name" value="{{name}}" required placeholder="e.g., Biryani"></td>
                            <td><input type="number" id="productPrice" name="price" value="{{price}}" required min="10"  placeholder="e.g., 270"></td>
                            <td><input type="text" id="productSubgroup" name="subgroup" value="{{subgroup}}" required  placeholder="e.g., Shakes, fast food"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" class="save-button">SAVE CHANGES</button>
        </form>
    </div>
</body>
</html>
